.total-attendance{
    margin-top: 40px;
    margin-left: 135px;
    width: 1000px;
    height: 70vh;
    
}
.doughnut-chart{
    width: 500px;
    height: 50vh;
    margin: 40px 0 20px 300px;
}
.quarterly{
    margin-top: 40px;
    margin-left: 135px;
    width: 1000px;
    height: 70vh;
}